* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb119 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;    
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-hockey-stick-puck {
    margin-right: 0.5rem;
    color: #fff;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;
}

.button:hover {
    background: #4837ff;
    transition: all 0.3s ease;    
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__content {
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.progress__container {
    display: flex;
    justify-content: center;
}

.progressbar__container {
    position: relative;
    width: 900px;
    height: 600px;
    border: 2px solid white;
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 600px;
}

.background-img {
    background-image: url('/images/Goalie-mask-red.svg');
}

.foreground-img {
    background-image: url('/images/Goalie-mask.svg');
    height: 0;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

.ticketForm_list {
    list-style: none;
}

.ticketForm_list > li {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

@media screen and (max-width: 960px) {
    .navbar__container {        
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }    
}